@model ApplicationCore.Models.PurchaseResponseModel
@{
    ViewData["Title"] = "Purchases";
    var purchaseDetailsList = ViewBag.purchaseDetailsList ;
}


<h1>Purchases</h1>

<div>
    <h4>PurchaseResponseModel</h4>
    <hr />
    <div class=" rounded">
        <div class=" container-fluid">
            <div class="row">
                @foreach (var movieCard in Model.PurchasedMovies)
                {
                    <div class="col-xl-2 col-sm-4 col-lg-3 col-6">
                        @*<partial name="_MovieCard"  model="movieCard"/>*@
                        @*@await Html.PartialAsync("_MovieCard", movieCard)*@
                        <partial name="_PurchasedMovieCard" model="@purchaseDetailsList[movieCard.Id]"/>
                        
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
